<section
  data-bs-version="5.1"
  class="menu menu2 cid-tJS6tZXiPa"
  once="menu"
  id="menu02-0"
>
  <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
    <div class="container">
      <div class="navbar-brand">
        <span class="navbar-logo">
          <a href="index.html"
            ><img
              src="assets/images/ambLogo.png"
              alt="Amblyfy Logo"
              style="height: 3rem"
          /></a>
        </span>
        <span class="navbar-caption-wrap"
          ><a
            class="navbar-caption text-black text-primary display-4"
            href="index.html"
            ><img
            src="assets/images/ambName.png"
            alt="Amblyfy Name"
            style="height: 3rem"
        /></a
          ></span
        >
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-bs-toggle="collapse"
        data-target="#navbarSupportedContent"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
          <li class="nav-item dropdown">
            <a
              class="nav-link link text-black text-primary dropdown-toggle display-4"
              href="#"
              data-toggle="dropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Treatments</a
            >
            <ul class="dropdown-menu">
              <li>
                <a
                  class="text-black text-primary dropdown-item show display-4"
                  href="traditional.html"
                  >Traditional</a
                >
              </li>
              <li>
                <a
                  class="text-black text-primary dropdown-item show display-4"
                  href="emerging.html"
                  >Emerging</a
                >
              </li>
              <li>
                <a
                  class="text-black text-primary dropdown-item show display-4"
                  href="alternative.html"
                  >Alternative</a
                >
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link link text-black text-primary dropdown-toggle display-4"
              href="#"
              data-toggle="dropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Tools</a
            >
            <ul class="dropdown-menu">
              <li>
                <a
                  class="text-black text-primary dropdown-item display-4"
                  href="self-check.html"
                  >Amblyopia Self Check</a
                >
              </li>
              <li>
                <a
                  class="text-black text-primary dropdown-item display-4"
                  href="progress-tracker.html"
                  >Progress Tracker</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a
              class="nav-link link text-black text-primary show display-4"
              href="blog.html"
              >Blog</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link link text-black text-primary show display-4"
              href="contacts.html"
              >Contacts</a
            >
          </li>
        </ul>

        <div class="navbar-buttons mbr-section-btn">
          <a
            class="btn btn-primary display-4"
            href="#"
            data-bs-toggle="modal"
            data-bs-target="#subscribeModal"
            >SUBSCRIBE</a
          >
        </div>
      </div>
    </div>
  </nav>
</section>

<style>
  .navbar {
    background-image: url("assets/images/ambBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>
